h2 {
    color: rgba(85, 38, 5, 0.815);
    text-align: start;
    margin-left: 25px;
}

thead {
    background-color: aqua;
    color: navy;
    text-align: center;
}

td {
    text-align: center;
}

button {
    margin-left: 10px;
    margin-bottom: 10px;
}